* {
  border: none;
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 45px;
}

window#waybar {
  background: transparent;
}

#custom-arch, #workspaces {
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#clock, #backlight, #wireplumber, #bluetooth, #network, #battery{
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
